<ion-content>
  <!-- MENU LATERAL -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="light">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" style="--background: rgb(255, 255, 255)"
      ><ion-grid style="display: flex; flex-flow: column">
        <ion-row style="flex-grow: 1">
          <ion-col>
            <button class="btn btns-cosas-lindas" (click)="chooseMenu(0)">
              Principal
            </button>
          </ion-col>
        </ion-row>
        <ion-row style="flex-grow: 1">
          <ion-col>
            <button class="btn btn-danger" (click)="logoutUser()">
              Cerrar Sesión
            </button>
          </ion-col>
        </ion-row>
      </ion-grid></ion-content
    >
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar style="background: #fff" color="dark">
        <ion-buttons slot="start" style="color: #000">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="display: inline-block; vertical-align: middle"
          >Menu</ion-title
        >
        <ion-img
          src="../../assets/juegokinetico.png"
          style="
            display: inline-block;
            width: 2.5rem;
            vertical-align: middle;
            margin-left: 10rem;
          "
        ></ion-img>
      </ion-toolbar>
    </ion-header>
  </div>

  <!-- MENU BOTONES INICIALES -->
  <div style="width: 100%; height: 100%" *ngIf="menu == 0">
    <ion-grid style="display: flex; flex-flow: column">
      <ion-row style="flex-grow: 1; margin-bottom: 1rem; margin-top: 4rem">
        <ion-col class="cosas-lindas-btn" (click)="chooseMenu(1)"> </ion-col>
      </ion-row>
      <ion-row style="flex-grow: 1; margin-bottom: 1rem">
        <ion-col class="cosas-feas-btn" (click)="chooseMenu(2)"> </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- IMÁGENES DC O MARVEL -->
  <div *ngIf="menu == 1">
    <ion-slides #slides pager="true" style="margin-top: 4rem">
      <ion-slide>
        <img
          class="img-slide"
          src="../../assets/batman.png"
          (click)="chooseCharacter('batman')"
        />
      </ion-slide>
      <ion-slide>
        <img
          class="img-slide"
          src="../../assets/superman.png"
          (click)="chooseCharacter('superman')"
        />
      </ion-slide>
      <ion-slide>
        <img
          class="img-slide"
          src="../../assets/ww.png"
          (click)="chooseCharacter('ww')"
        />
      </ion-slide>
      <ion-slide>
        <img
          class="img-slide"
          src="../../assets/flash.png"
          (click)="chooseCharacter('flash')"
        />
      </ion-slide>
      <ion-slide>
        <img
          class="img-slide"
          src="../../assets/guason.png"
          (click)="chooseCharacter('guason')"
        />
      </ion-slide>
      <ion-slide>
        <img
          class="img-slide"
          src="../../assets/aquaman.png"
          (click)="chooseCharacter('aquaman')"
        />
      </ion-slide>
    </ion-slides>
  </div>

  <!-- JUEGO  -->

  <!-- PUNTUACIÓN Y TIEMPO -->
  <div
    style="
      display: flex;
      justify-content: space-around;
      color: #fff;
      text-align: center;
      margin-top: 3.5rem;
      text-shadow: 1px 1px 1px #000;
      background: rgba(255, 0, 0, 0.486);
      border: 2px solid #fff;
      border-radius: 0px 0px 10px 10px;
    "
  >
    <h3><b>Puntuación</b>: {{score}}</h3>
    <h3>{{getTime()}}</h3>
  </div>

  <!-- JUEGO TERMINADO  -->
  <div
    *ngIf="gameOver"
    style="
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 2rem;
      margin-top: 30%;
      border: 2px solid #fff;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #000;
      background: rgba(255, 255, 255, 0.459);
      z-index: 10;
    "
  >
    <h2
      style="
        text-align: center;
        font-size: 2rem;
        color: #f00;
        text-shadow: 1px 1px 1px#000;
        margin-bottom: 2rem;
        font-weight: bolder;
      "
    >
      JUEGO TERMINADO
    </h2>
    <button class="btn btn-danger" (click)="resetGame()">Reiniciar</button>
  </div>

  <!-- IMÁGEN DEL PERSONAJE -->
  <img
    *ngIf="menu == 3"
    id="img-juego"
    class="img-juego"
    src="{{pathImageCharacter}}"
    alt=""
  />
</ion-content>
